<navbar-component></navbar-component>

<main class="my-5">
  <div class="container">
    <section class="text-center">
      <h4><strong>Produse BookShop</strong></h4>
      <div class="row">
        <div *ngFor="let item of item$ | async" class="col-lg-4 col-md-12 mb-4">
          <div class="card">
            <div
              class="bg-image hover-overlay ripple"
              data-mdb-ripple-color="light"
            >
              <img
              [src]="item.image"
                class="img-fluid"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.15)"
                ></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ item.name }}</h5>
              <p class="card-text">
                {{item.price}} lei
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>

<footer class="text-lg-start">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2024 Copyright:
    <a class="text-dark" href="https://google.com/">BookShop.com</a>
  </div>
</footer>
