<div class="container">
  <div class="card card-container">
      <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
      <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
      <p id="profile-name" class="profile-name-card"></p>
      <form class="form-signin">
          <span id="reauth-email" class="reauth-email"></span>
          <div class="formGroup">
            <input
              type="text"
              class="form-control"
              placeholder="Username"
              #userName
              required
            />
          </div>
    
          <div class="formGroup">
            <input
              type="password"
              class="form-control"
              placeholder="Parola"
              #userPassword
              required
            />
          </div>
    
    
          <div class="formGroup text-center">
            <input
              type="button"
              class="btn btn-primary btn-block"
              value="Logare"
              (click)="authService.SignIn(userName.value, userPassword.value)"
            />
          </div>
    
         
      </form>
      <div class="formGroup text-center">
        <span class="or"><span class="orInner">Or</span></span>
      </div>
      <span
      >Nu ai cont?<a
        class="redirect"
        routerLink="/register-user"
      >
        Creeaza cont</a
      ></span
    >
  </div>
</div>